.direction {
    padding: 35px 0;
    &__title {
        margin-left: 55px;
        margin-bottom: 40px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(260px, auto);
        grid-auto-rows: minmax(260px, auto);
        grid-gap: 30px;
        margin-bottom: 40px;
    }
   
   &__link-wrap {
       text-align: center;
   }
   &__link {
    position: relative;
    font-weight: bold;
    color: #2C2C2C;
    padding-right: 19px;
    &::after {
        content: '';
        position: absolute;
        top: 3px;
        right: 0;
        background-image: url(../icons/arrow-right.svg);
        width: 9px;
        height: 14px;
    }
    &_blue {
        color: #2747F0;
    }
    &:hover {
        text-decoration: underline;
    }
   }
}
.mobile-slider {
    display: none;
    .city-card {
        min-height: 260px;
    }
}