.feedback {
    padding: 40px 0 43px;
    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 57px;
        margin-left: 55px;
    }
    &__title {
        
        margin-right: 60px;
    }
    &__subtitle {
        max-width: 265px;
        font-weight: 600;
        color: #9F9F9F;
    }
    .swiper-wrapper {
        margin-bottom: 20px;
    }
}

.slider-pagination {
    text-align: center;
}
.swiper-container {
    padding-top: 13px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #9F9F9F;
    &-active {
        background-color: #2747F0;
    }
}
.mobile-slider__btn {
    display: none;
}