.numbers {
    padding: 35px 0 42px;
    &__title {
        margin-bottom: 50px;
        margin-left: 55px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    &__item {
        min-height: 113px;
        &-header {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
    }
    &__img {
        margin-right: 10px;
    }
    &__count {
        align-self: flex-end;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #2747F0;
    }
    &__text {
        max-width: 175px;
        font-weight: bold;
        text-align: center;
        color: #2C2C2C;
    }
}