.questions {
    padding: 43px 0 35px;
    &__title {
        margin-left: 55px;
        margin-bottom: 50px;
    }
    &__item {
        margin-bottom: 20px;
        
    }
    &__question {
        position: relative;
        width: 100%;
        padding: 15px 90px;
        background-color: #E5E5E5;
        border: 0;
        border-radius: 5px;
        text-align: left;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #2C2C2C;
        transition: .5s;
        &::before {
            content: '+';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 60px;
            font-weight: 500;
            font-size: 30px;
            color: #2C2C2C;
            transition:background-color .5s;
        }
        &.active {
            background-color: #FEDA1F;
            &::before {
                content: '-';
            }
        }
       
    }
    &__answer {
        max-width: 668px;
        color: #9F9F9F;
        max-height: 0;
        overflow: hidden;
        transition: .2s ease-out;
        padding-left: 55px;
        &.active {
            padding-top: 20px;
            padding-bottom: 20px;
            max-height: none;
        }
    }
}