.taxi {
    padding: 46px 0 35px;

    &__title {
        margin-left: 55px;
        margin-bottom: 55px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 5px;
        column-gap: 5px;
    }

}





.mobile-slider {
    display: none;
}