.title {
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    color: #2C2C2C;

    &_yellow {
        color: #FEDA1F;
    }

    &_size_16 {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
    }

    &_size_20 {
        font-size: 20px;
        line-height: 24px;
    }

    &_size_80 {
        color: #fff;
        font-size: 80px;
        line-height: 98px;
    }
}

.btn {
    padding: 0 10px;
    min-width: 256px;
    height: 50px;
    text-align: center;
    background-color: #2747F0;
    box-shadow: 0px 0px 10px rgba(39, 68, 222, 0.3);
    border: 0;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    transition: box-shadow .5s;

    &_small {
        min-width: 126px;
    }

    &:hover {
        box-shadow: 0 6px 20px 0 rgb(0, 81, 170 / 68%);
    }
}

.logo {
    max-width: 175px;
    font-weight: bold;
    color: #fff;
}

.link {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    transition: color .5s;

    &:hover {
        color: #FEDA1F;
    }
}

.taxi-card {
    text-align: center;

    &__title {
        color: #2C2C2C;
        margin-bottom: 15px;
    }

    &__img {
        position: relative;
        margin-bottom: 40px;

        &::before {
            content: '';
            opacity: 0;
            position: absolute;
            top: -22px;
            left: 50%;
            transform: translateX(-50%);
            width: 169px;
            height: 169px;
            border-radius: 50%;
            background: #FEDA1F;
            z-index: -1;
            transition: opacity .5s ease-in;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }



    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    &__descr {
        position: relative;
        font-weight: 600;
        color: #9F9F9F;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }

        &_person {
            padding-left: 20px;
            margin-right: 15px;

            &::before {
                background-image: url(../icons/person.svg);
                width: 15px;
                height: 15px;
            }
        }

        &_case {
            padding-left: 25px;

            &::before {
                background-image: url(../icons/case.svg);
                width: 20px;
                height: 15px;
            }

        }
    }
}

.city-card {
    position: relative;
    padding: 20px;
    background: center center/cover no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: box-shadow .5s ease-in-out;

    &:hover {
        box-shadow: -2px 7px 26px 18px rgba(34, 39, 80, 0.2);
    }

    &__title {
        max-width: 150px;
    }

    &__text {
        max-width: 155px;
    }

    &__price {
        margin-top: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FEDA1F;
    }

}

.feedback-item {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__box {
        flex-grow: 1;
        position: relative;
        max-width: 540px;
        padding: 46px 37px;
        background: linear-gradient(180deg, #2747F0 0%, #203DD6 100%);
        border-radius: 10px;
        margin-bottom: 50px;

        &::before {
            content: '“';
            position: absolute;
            top: -35px;
            left: 37px;
            font-weight: bold;
            font-size: 100px;
            line-height: 122px;
            color: #2C2C2C;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -35px;
            left: 48px;
            width: 0;
            height: 0;
            border-width: 65px 32.5px 0 32.5px;
            border-color: #203DD6 transparent transparent transparent;
            border-style: solid;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        margin-left: 45px;
    }

    &__avatar {
        margin-right: 20px;

        img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__name {
        font-weight: bold;
        color: #2C2C2C;
    }
}


.contacts {
    &__link {
        position: relative;
        padding-left: 30px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 8px;

        &:hover {
            text-decoration: underline;
        }

        &::before {
            content: '';
            background-image: url(../icons/phone.svg);
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__text {
        font-size: 12px;
        line-height: 15px;
    }
}

.burger {
    position: absolute;
    top: -3px;
    right: 10px;
    display: none;
    width: 35px;
    height: 40px;
    background-color: transparent;
    border: 0;
    padding: 0;
    z-index: 10;

    span {
        display: block;
        height: 5px;
        border-radius: 5px;
        background-color: #fff;
        margin-bottom: 5px;
        transition: .5s;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.active {
        span {
            &:first-child {
                transform: rotate(45deg) translate(1px, 13px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg) translate(8px, -20px);
            }
        }
    }
}