body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#fff;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.lock {
    overflow: hidden;
}
